@import "../../../assets/styles/main.scss";

.m-image-container {
  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}