@import "../../../assets/styles/main.scss";

.a-input {
  width: 100%;
  max-width: 400px;
  padding: 8px 10px;
  // border: 0;
  outline: none;
  border-radius: 5px;
  // background-color: #F5F5F5;
  font-size: 12px;

  &:hover {
    box-shadow: 0 0 5px $outer-space;
    // transform: translateY(-2px);
  }
}